    <div class="aboutpanel">
      <h3>Welcome to my page!<h3>
                
              <p>
             I am Arman, a researcher, an analytic thinker and a mathematician who can code. 
              I have a quantitative background from my PhD degree in computational physics 
              <a href="http://laplace.phas.ubc.ca/People/arman/">[+]</a>.
              My interests are in solving analytic problems and employing mathematical models, statistics and computational techniques to 
              challenges in business analytics. 
              I have extensive programming and machine learning experience and worked on several data science 
              projects building predictive models and forecasting tools <a href="http://github.com/rmanak">[+]</a>. 
              I have also obtained expertise in parallel computing and numerical algorithms as part of my PhD program 
              <a href="http://laplace.phas.ubc.ca/People/arman/Research.html">[+]</a>
              </p>

              <p>
               If I am not hacking through some code and designing an analytic platform, 
               I am most probably exercising, traveling <a href="http://www.armanphotography.com/Places/">[+]</a> 
               or am off road lost in nature... in pursue of the sublime <a href="http://www.armanphotography.com/Landscapes">[+]</a>. 
              </p>

              <p>
              Please feel free to <a href="mailto:arman2@gmail.com">contact me</a>, if you think we have something to chat about! 
                I love intellectual conversations, anything startup, bad puns and good beer!
              </p>


          </div>


