<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.hosturl }}"><i class="fa fa-home fa-lg"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.hosturl }}about/">ABOUT</a></li>
        <li><a href="{{ site.hosturl }}projects/">PROJECTS</a></li>
        <li><a target="_blank" href="{{ site.hosturl }}resume/">RESUME</i></a></li>
        <li><a href="{{ site.hosturl }}notes/">NOTES</a></li>
      </ul>
    </div>
  </div>
</nav>
