<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://rmanak.github.io/FD/">FD: Finite Difference Simulation Toolkit</a></strong></h5>
        <p>  
        - A high-level programming language to solve nonlinear PDEs
        </p>
		<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rmanak/search_relevance">Search Relevance</a></strong></h5>
        <p>
			- Home Depot's search relevance data science challenge | NLP and text mining | Score: top 3.5%
		</p>
		<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rmanak/store_sale">Store Sale Forecasting</a></strong></h5>
        <p>
			- Rossmann data science challenge | linear/local regression, generalized additive model and boosted regression trees | RMSE: 0.11 for 1000+ stores
		</p>
 
    	<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rmanak/simplehtml">Simple HTML</a></strong></h5>
        <p>
           -  A self-contained minimal web [github] page generator and CMS with: Markdown + CodeHighlighter + TOC + References + Latex + IncludeHTML + EasyImageInclude
		</p>
	</div>
  </div>
</div>
</section>
